:root{
    --font: rgb(63, 62, 62);
    --yellow: rgb(255, 208, 0);
}

*{
    line-height: 1.8em !important;
}
html,body{  
    min-width: 100% !important;
    margin: 0 auto;
    border: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    text-align: justify;
}
p{
    font-size: 1.04em;
    color: var(--font)
}

#header{
    align-items: center;
    font-size: 1em;
}
.btn{
    min-width: 150px;
    box-shadow: 2px 2px 2px rgba(112, 111, 111, 0.89);
}
.btn:hover{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.699);
    transition: 1s;
}

#navbar{
    transition: 300ms;
    box-shadow: 2px 2px 5px black;
}
#navbar:hover{
    transition: 300ms;
    box-shadow: 3px 3px 10px rgb(236, 178, 16) !important;
}

.nav-link{
   font-size: 1.3em;
   cursor: pointer;
}
.nav-link:hover{
    transition: 300ms;
    transform: scale(1.1);
    color: black !important;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
 }

 #img{
     background-image: url(../images/capa.jpg);
     background-size: 100%;
     background-repeat: no-repeat !important;
     min-height: 450px;
        
    }

#dark{
    margin-left: -1%;
    border: 0;
    background-size: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(14, 13, 13) 0%, rgba(36, 35, 35, 0.96) 70%, rgba(39, 39, 39, 0.697) 82%, rgba(255,255,255,0) 100%);
    
}

.card{
    transition: 300ms;
}
.card:hover{
    transition: 800ms;
    transform: scale(1.05);
}

.lgpd{
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: var(--yellow);
    color: var(--font);
    font-size: 1em;
    display: flex;
    border-radius: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
    transition: 1s;
    z-index: 999;
    cursor: pointer;
}

address a {
    text-decoration: none;
    color: var(--font);
    transition: 300ms;
}

@media (min-width: 1220px) {

    #dark{
        min-height:440px;
    }
    #img{
        min-height: 440px;
    }
    
}

